.font-size-xxl{
    font-size: 3em;
  }
  
  .font-size-xl{
    font-size: 2em;
  }
  
  .font-size-l{
    font-size: 1.5em;
  }
  
  .font-size-m{
    font-size: 1em;
  }
  
  .btn{
    background-color: #282c34;
    border: none;
    width: 100%;
  }
  .btn:hover{
    border: 1px solid #282c34;
    background-color: white;
    color: #282c34;
  }